.sliderContainer {
  @apply relative w-full flex flex-col gap-[11.4px] cursor-pointer px-0 py-2.5;
}

.sliderInput {
  @apply w-full appearance-none rounded h-1 cursor-pointer px-0 py-2.5;
  background: transparent;
  outline: none;
}

/* Styles for WebKit browsers like Chrome, Safari */
.sliderInput::-webkit-slider-runnable-track {
  @apply w-full h-1 rounded cursor-pointer;
  background: linear-gradient(to right,
      #0b254f 0%,
      #0b254f var(--slider-percentage),
      #e5ebf1 var(--slider-percentage),
      #e5ebf1 100%);
}

.sliderInput::-webkit-slider-thumb {
  @apply w-5 h-5 appearance-none cursor-pointer relative z-[2] -mt-2 rounded-[50%];
  background: #22457e;
}

/* Styles for Firefox */
.sliderInput::-moz-range-track {
  @apply w-full h-1 rounded cursor-pointer;
  background: linear-gradient(to right,
      #0b254f 0%,
      #0b254f var(--slider-percentage),
      #e5ebf1 var(--slider-percentage),
      #e5ebf1 100%);
}

.sliderInput::-moz-range-thumb {
  @apply w-5 h-5 appearance-none cursor-pointer relative z-[2] -mt-2 rounded-[50%];
  background: #22457e;
}

/* Ensure consistent style for Microsoft Edge */
.sliderInput::-ms-thumb {
  @apply w-5 h-5 appearance-none cursor-pointer relative z-[2] -mt-2 rounded-[50%];
  background: #22457e;
}

.sliderInput::-ms-track {
  @apply w-full h-1 rounded cursor-pointer;
  background: linear-gradient(to right,
      #0b254f 0%,
      #0b254f var(--slider-percentage),
      #e5ebf1 var(--slider-percentage),
      #e5ebf1 100%);
  border: none;
  /* Removes default border */
  color: transparent;
  /* Required to properly hide the track */
}