# DO NOT commit this file to your repository!
# The SENTRY_AUTH_TOKEN variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
# You can also set this env variable in your own `.env` files and remove this file.

# Create .env.sentry-build-plugin file and paste token
# Check 1password notes for the token
SENTRY_AUTH_TOKEN=""
