VITE_COIN_GECKO_API_URL="https://api.coingecko.com/api/v3"
VITE_TRM_LABS_API_URL="https://api.trmlabs.com/public/v1"
VITE_BASE_WALLET_PROJECT_ID=

VITE_BASE_RPC_PAID_1=https://base-mainnet.g.alchemy.com/v2/L1f_APcW-T5JdiJFXj03loI9-5W4mMKE
VITE_BASE_RPC_PAID_WS_2=wss://base-mainnet.g.alchemy.com/v2/L1f_APcW-T5JdiJFXj03loI9-5W4mMKE

VITE_BASE_RPC_FREE_1=https://api.developer.coinbase.com/rpc/v1/base/D20HQw40agPRCvnXazh458g8E1vgdqRd
VITE_BASE_RPC_FREE_2=https://mainnet.base.org/
VITE_BASE_RPC_FREE_3=https://rpc.ankr.com/base
VITE_BASE_RPC_FREE_4=https://base.drpc.org
VITE_BASE_RPC_FREE_WS_5=wss://base.drpc.org