@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi"),
    url("./src/assets/fonts/Satoshi-Variable.ttf") format("truetype");
}

body {
  @apply font-primary min-h-screen bg-background-default;
}

@media (max-width: 640px) {
  .mobile-dropdown-end {
    @apply dropdown-end;
  }
}

.md\\:sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 6px;
  z-index: 10;
}
